@page "/books"

@using Shared.DTOs.Books
@using Client.Interfaces

@inject IBookApiService BookService

<PageHeader Title="Books">
    <NavLink class="btn btn-primary"
             href="/books/create">
        Create Book
    </NavLink>
</PageHeader>

@if (books.Count == 0)
{
    <p>Loading...</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>ISBN</th>
                <th>Published</th>
                <th>Author</th>
                <th>Category</th>
                <th></th>
            </tr>
        </thead>

        <tbody>
        @foreach (var book in books)
        {
            <tr>
                <td>@book.Title</td>
                <td>@book.Isbn</td>
                <td>@book.PublishedYear</td>
                <td>@book.AuthorName</td>
                <td>@book.CategoryName</td>
                <td>
                    <NavLink
                        class="btn btn-sm btn-primary"
                        href="@($"/books/{book.Id}")">
                        Details
                    </NavLink>
                    @* <button class="btn btn-sm btn-danger" @onclick="() => DeleteBook(book.Id)">Delete</button> *@
                </td>
            </tr>
        }
        </tbody>
    </table>
}

@code
{
    private List<BookDto> books = [];

    protected override async Task OnInitializedAsync()
    {
        books = await BookService.GetBooksAsync();
    }

    
}