@page "/books/{Id:int}"

@using Shared.DTOs.Books
@using Client.Interfaces

@inject IBookApiService BookService
@inject NavigationManager Navigation
@inject IJSRuntime JS

<PageHeader Title="Book details">
    <Button Style="ButtonStyle.Default"
             Href="/books">
        Back to list
    </Button>

    <Button Style="ButtonStyle.Primary"
             Href="@($"/books/edit/{Id}")">
        Edit
    </Button>

    <Button Style="ButtonStyle.Danger"
            OnClick="DeleteBook">
        Delete
    </Button>
</PageHeader>

@if (!string.IsNullOrWhiteSpace(errorMessage))
{
    <div class="alert alert-danger">
        @errorMessage
    </div>
}

@if (isLoading)
{
    <LoadingSpinner />
}
else if (book is null)
{
    <p>Book not found.</p>
}
else
{
    <Card Title="@book.Title">

    <p><strong>ISBN:</strong> @book.Isbn</p>

    <p><strong>Published:</strong> @book.PublishedYear</p>

    <p><strong>Author:</strong> @book.Author.Name</p>

    <p><strong>Category:</strong> @book.Category.Name</p>

</Card>

    
}

@code{
    [Parameter]
    public int Id { get; set; }

    private BookDetailsDto? book;
    private string? errorMessage;
    private bool isLoading = true;

    protected override async Task OnInitializedAsync()
    {
        book = await BookService.GetBookByIdAsync(Id);
        isLoading = false;
    }

    private async Task DeleteBook()
    {
        @* var confirmed = await DialogService.ConfirmAsync(
            "Delete book",
            $"Are you sure you want to delete this book?"
        ); 

        if (!confirmed)
            return;*@

        try
        {
            await BookService.DeleteBookAsync(Id);

            Navigation.NavigateTo("/books");
        }
        catch (Exception ex)
        {
            errorMessage = ex.Message;
        }
    }
}