@using Client.Models
@using Microsoft.AspNetCore.Components

@if (Visible)
{
    <dialog class="modal modal-open">
        <div class="modal-box">
            <h3 class="font-bold text-lg">
                @Options.Title
            </h3>

            <p class="py-4">
                @Options.Message
            </p>

            <div class="modal-action">
                <Button Style="ButtonStyle.Default"
                        OnClick="() => OnResult.InvokeAsync(false)">
                    @Options.CancelText
                </Button>

                <Button Style="@Options.ConfirmStyle"
                        OnClick="() => OnResult.InvokeAsync(true)">
                    @Options.ConfirmText
                </Button>
            </div>
        </div>
    </dialog>
}

@code{
    [Parameter]
    public bool Visible { get; set; }

    [Parameter]
    public DialogOptions Options { get; set; } = new();

    [Parameter]
    public EventCallback<bool> OnResult { get; set; }
}